@model IEnumerable<Manx1.Data.Entities.Auto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AutoPatente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoColor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AutoPatente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoColor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AutoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AutoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AutoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
